<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.neo4j-vfs">
    <resources>
        <resource-root path="neo4j-ogm-resourceresolver-vfs-1.0.0-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.neo4j"/>
	<module name="org.jboss.vfs"/>
	<module name="org.apache.commons.collections4" services="import" export="true"/>
    </dependencies>
</module>
