<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.neo4j">
    <resources>
        <resource-root path="neo4j-3.0.6.jar"/>
        <resource-root path="neo4j-kernel-3.0.6.jar"/>
        <resource-root path="neo4j-java-driver-1.0.4.jar"/>
        <resource-root path="neo4j-ogm-core-2.0.5.jar"/>
        <resource-root path="neo4j-ogm-http-driver-2.0.5.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
